/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'js';
    src: url(./JennaSue.ttf);
}

@font-face {
    font-family: 'brandon';
    src: url(./HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf);
}

/* body{ */
    /* background-image: url('https://images.unsplash.com/photo-1629466209276-1c80699476ca?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODB8fG1lZGl0YXRpb24lMjBuYXR1cmUlMjByZWxheHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* animation: background 20s ease  infinite; */
/* } */

@keyframes background {
    0%{
        background-image: url('https://images.unsplash.com/photo-1518554188602-449ffd5cf43b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAyfHxtZWRpdGF0aW9uJTIwbmF0dXJlJTIwcmVsYXh8ZW58MHx8MHx8fDA%3D');
    }
    25%{
        background-image: url('https://images.unsplash.com/photo-1601703149866-a33416ff836f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1lZGl0YXRpb24lMjBuYXR1cmUlMjByZWxheHxlbnwwfHwwfHx8MA%3D%3D');
    }
    50%{
        background-image: url('https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG1lZGl0YXRpb24lMjBuYXR1cmUlMjByZWxheHxlbnwwfHwwfHx8MA%3D%3D');
    }
    75%{
        background-image: url('https://images.unsplash.com/photo-1527840330704-143cde6c566e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTF8fG1lZGl0YXRpb24lMjBuYXR1cmUlMjByZWxheHxlbnwwfHwwfHx8MA%3D%3D');
    }
    100%{
        
    }
}

a{
    text-decoration: none;
    color: black;
}

nav{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: #e3e2e2;
    position: sticky;
    top: 0;
    margin-bottom: 90px;
    z-index: 9999;
}

nav h1{
    font-family: js;
    font-size:40px;
    letter-spacing: 1px;
}

body{
    background-color: #e3e2e26a;
    /* filter: blur(10px); */
}

.topic{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topic h2{
    font-family: brandon;
    margin-right: 30px;
    font-size: 22px;
}

/* Basic styles */
body {
    /* font-family: Arial, sans-serif; */
    font-family: "Poppins", sans-serif;
    background-color: #e3e2e26a;
    /* background-color: #f0f0f0; */
    color: black;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    color: #333;
}

main {
    padding: 60px;
    text-align: center;
}

.hero {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-20px);
    margin-top: 30px;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.content {
    opacity: 0;
    transform: translateY(20px);
    margin: 0 280px;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-start {
    background-color: #009688;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    font-family: brandon;
}

.btn-start:hover {
    background-color: #00796b;
}

footer {
    /* background-color: #333; */
    position: absolute;
    color: black;
    padding: 20px;
    font-size: 5px;
    width: 100%;
    /* text-align: center; */
}

footer p{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}

p{
    font-size: 20px;
    font-family: brandon;
}



.right{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 60px; */
    margin: 40px 0;
}

.first{
    background-image: url('https://images.unsplash.com/photo-1545389336-cf090694435e?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
    /* margin-bottom: 20px; */
    margin-right: 22px;
    /* border-radius: 100%; */
    /* margin-left: 500px; */
    /* animation: background 20s ease  infinite; */
}

.sec{
    background-image: url('https://images.unsplash.com/photo-1604078893234-ff3a1a5d5292?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQ3fHxtZWRpdGF0aW9uJTIwYW5pbWF0aW9uJTIwaW1hZ2VzfGVufDB8fDB8fHww');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
    margin-bottom: 80px;
    margin-right: 22px;
}

.third{
    background-image: url('https://images.unsplash.com/photo-1512438248247-f0f2a5a8b7f0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fG1lZGl0YXRpb24lMjBhbmltYXRpb24lMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
    /* margin-bottom: 20px; */
}

@media  (max-width:768px) {
    .content{
        margin: 30px;
    }
}

@media  (max-width:425px) {
    nav h1{
        font-size: 30px;
    }

    nav .topic a{ 
        display: none;
    }

    .hero h2{
        font-size: 40px;
    }

    footer{
        position: relative;
    }

    .content{
        margin: 10px;
    }

    .right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0; */
    }

    .first,.sec,.third{
        height: 380px;
        width: 280px;
        margin: 0;
        margin-bottom: 20px;
    }
}