/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'js';
    src: url(./JennaSue.ttf);
}

@font-face {
    font-family: 'brandon';
    src: url(./HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf);
}

a{
    text-decoration: none;
    color: black;
}

nav{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

nav h1{
    font-family: js;
    font-size:40px;
    letter-spacing: 1px;
}

body{
    background-color: #e3e2e26a;
    /* filter: blur(10px); */
}

.topic{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topic h2{
    font-family: brandon;
    margin-right: 30px;
    font-size: 22px;
}

/* Basic styles */
body {
    /* font-family: Arial, sans-serif; */
    font-family: "Poppins", sans-serif;
    background-color: #e3e2e26a;
    /* background-color: #f0f0f0; */
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    color: #333;
}

main {
    padding: 40px;
    text-align: center;
}

.hero {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-20px);
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.content {
    opacity: 0;
    transform: translateY(20px);
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-start {
    background-color: #009688;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    font-family: brandon;
}

.btn-start:hover {
    background-color: #00796b;
}

footer {
    /* background-color: #333; */
    position: absolute;
    bottom: 0;
    color: black;
    padding: 20px;
    font-size: 5px;
    /* text-align: center; */
}

footer p{
    font-size: 12px;
}

p{
    font-size: 20px;
    font-family: brandon;
}

@media  (max-width:425px) {
    nav h1{
        font-size: 30px;
    }

    nav .topic a{ 
        display: none;
    }

    .hero h2{
        font-size: 40px;
    }

    footer{
        position: relative;
    }
}
