*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'js';
    src: url(./JennaSue.ttf);
}

@font-face {
    font-family: 'brandon';
    src: url(./HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf);
}

nav{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

nav h1{
    font-family: js;
    font-size:40px;
    letter-spacing: 1px;
}

.normal{
    /* display: inline; */
    font-family: 'js';
    text-align: center;
    font-size: 80px;
    margin: 50px;
    margin-bottom: 80px;
}

.h1{
    font-family: "Poppins", sans-serif;
    margin: 10px;
    margin-left: 40px;
    display: flex;
}

.music{
    display: flex;
    overflow: scroll;
    margin-left: 40px;
    margin-top: 30px;
}

.musicBox{
    height: 200px;
    width: 256px;
    border-radius: 10px;
    overflow: scroll;
    margin-right: 22px;
    background-position:center ;
    background-size: cover;
}

.mainBox{
    display: flex;
    flex-direction: column;
    transition: all 1.5s ease;
}

.type{
    margin-top: 12px;
    font-family:'brandon';
    color: rgba(0, 0, 0, 0.452);
}

.albumName{
    /* margin-top: 5px; */
    font-size: 20px;
    font-family:'brandon';
    letter-spacing: .6px;
}